.metadata-property[data-property-key="date created"] {
    display:none;
}
.metadata-property[data-property-key="date modified"] {
    display:none;
}
.metadata-property[data-property-key="author"] {
    display:none;
}
.metadata-property[data-property-key="author links"] {
    display:none;
}
.metadata-property[data-property-key="author-links"] {
    display:none;
}
.metadata-property[data-property-key="language"] {
    display:none;
}
.metadata-property[data-property-key="ISSN"] {
    display:none;
}
.metadata-property[data-property-key="ISBN"] {
    display:none;
}
.metadata-property[data-property-key="PMCID"] {
    display:none;
}
.metadata-property[data-property-key="PMID"] {
    display:none;
}
.metadata-property[data-property-key="page"] {
    display:none;
}
.metadata-property[data-property-key="citation-label"] {
    display:none;
}
.metadata-property[data-property-key="citation"] {
    display:none;
}
.metadata-property[data-property-key="created"] {
    display:none;
}
.metadata-property[data-property-key="number-of-pages"] {
    display:none;
}
.metadata-property[data-property-key="issued"] {
    display:none;
}
.metadata-property[data-property-key="accessed"] {
    display:none;
}
.metadata-property[data-property-key="number"] {
    display:none;
}
.metadata-property[data-property-key="id"] {
    display:none;
}
.metadata-property[data-property-key="container-title"] {
    display:none;
}
.metadata-property[data-property-key="dateCreated"] {
    display:none;
}
.metadata-property[data-property-key="dateModified"] {
    display:none;
}
.metadata-property[data-property-key="template-version"] {
    display:none;
}
.metadata-property[data-property-key="template"] {
    display:none;
}
