__pycache__/
*.pyc
*pycache__
pycache__/*
pytestcache_/*
pytest_cache/*
obsidian_to_anki/src/obsidian_to_anki/__pycache__
obsidian_to_anki/tests/__pycache__
/obsidian_to_anki/obsidian_to_anki_log.log
